* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}

html {
  font-size: 62.5%;
  color: var(--textColor);
}

/* have a look into body once after we done with rest of the styling  */
body {
  margin: 0 auto;
  padding: 0 32px;
  min-width: 320px;
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: #646cff;
  text-decoration: none;
  &:hover {
    color: #535bf2;
  }
}

::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/*! layout */
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

:is(
    .section-extra-product,
    .section-blog,
    .section-policy,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact,
    footer
  )
  .container:first-child {
  padding: 6.4rem 0 2.4rem 0;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*! module / reusable  */

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: capitalize;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem 0;
}

/* states  */

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
}

.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--para-color);
}

/***** Navbar Section *****/

.top_txt {
  background-color: var(--buttonColor);
  color: var(--backgroundColor);

  & .head_txt p {
    font-size: 1.5rem;
  }

  & .sing_in_up {
    display: flex;
    gap: 3.2rem;
  }
}

.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem; /* we override the main container padding property  */
}

.section-navbar img {
  width: 22%;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
  text-transform: capitalize;
  align-items: center;
  /* justify-content: center; */

  .active {
    color: var(--main-color);
  }

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.1rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover {
    color: var(--main-color);
  }

  & li a:hover:after {
    width: 100%;
  }
}

/***** Navbar End Section *****/

/***** Start Footer Section *****/
footer {
  width: 100%;
  background: var(--buttonColor);
  color: var(--backgroundColor);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 6.4rem;
}

.footer-container .content_1 img {
  height: auto;
  width: 15rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.footer-container h4 {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.footer-container a {
  display: block;
  text-decoration: none;
  color: #cccccc;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
  color: #cccccc;
  margin: 2.5rem 0;
  font-size: 1.4rem;
}

.footer-container .content_4 input[type="email"] {
  background-color: var(--textColor);
  border: none;
  color: var(--backgroundColor);
  outline: none;
  padding: 1.4rem 0.8rem;
  width: 100%;
}

.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .content_4 .bx {
  color: var(--white);
}

.f-design {
  width: 100%;
  color: var(--white);
  text-align: center;
}

.f-design .f-design-txt {
  border-top: 1px solid var(--secondaryColor);
  padding: 1.6rem 0;
  color: var(--secondaryColor);
}

/***** End Footer Section *****/

/***** Error Section *****/

.error-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red !important;
}

.p-a {
  text-align: center;
}

.p-b {
  text-align: center;
}

img {
  width: 100%;
  height: 60vh;
}

a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

a:hover {
  color: #2980b9;
}

/***** Error End Section *****/
